@import "../bower_components/normalize-scss/_normalize.scss";
@import "../bower_components/typeplate-starter-kit/scss/_typeplate.scss";


ul, ol {
    max-width: 80ch;
    margin-left: 0;
    margin-right: auto;
}

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-duration: 0.2s;
    transition-property: all;//opacity, transform, color, background-color, border-color, z-index, background-image;
    transition-timing-function: ease;
}

/**
 * GRIDS
 */

.grid {
    display: block;
    text-align: justify;
    font-size: 0;
    position: relative;

    > * {
        display: inline-block;
        width: 100%;
        font-size: 1rem;
        text-align: left;
    }

    &:after {
        display: table;
        width: 100%;
    }
}

@mixin grid_r($col, $width, $padding: 0) {
    @media screen and (min-width: #{$width}px) {
        .grid-#{$col}-#{$width} {
            & > * {
                width: #{100/$col}%;
                padding: #{$padding}px;
            }
        }
    }
}

@mixin grid($col, $padding: 0) {
    .grid-#{$col} {
        & > * {
            width: #{100/$col}%;
            padding: #{$padding}px;
        }
    }
}

@include grid(2);
@include grid(4);
@include grid(8);
@include grid_r(2,400);
@include grid_r(2,800);
@include grid_r(4,400);
@include grid_r(4,800);
@include grid_r(8,800);
@include grid_r(8,1024);
@include grid_r(8,1280);

/**
 * GENERAL
 */

img {
    max-width: 100%;
}
body {
    font-family: 'San Francisco', 'Helvetica', 'Trebuchet MS', Arial, sans-serif;
}

/**
 * PACE (automatic pre-loader thingy)
 */

.pace {
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
    .pace-progress {
        background: #2299dd;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px;
        transition: all 1s ease;
    }
}

.pace-inactive {
    opacity: 0;
}

.pace-active {
    opacity: 1;
}

/**
 * App code
 */

 //****//*********// VARIABLES //************//
$borderColor: darkseagreen;


.container{
    background: $borderColor;
    padding: 2%;
}

.content-container{
    background:beige;
    padding: 5%;
}

.header-container{
    h2{
        font-family: 'Yellowtail', cursive;
        text-align: center;
    }
}

.view-buttons{
    text-align: center;
    color:black;

    button{
        font-family: 'Yellowtail', cursive;
        background:transparent;
        color:black;
        border:$borderColor;
    }
    
    div{
        margin:auto 5%;
    }
}

.search-bar{
    outline: none;
    margin: 5% 39%;
    border:$borderColor;
    font-family: 'Yellowtail';
    background: transparent;
    border-bottom: 1px solid;
    // text-align: center;
    animation: blink-empty 1s;
        
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  text-align: center;
}
::-moz-placeholder { /* Firefox 19+ */
  text-align: center;
}
:-ms-input-placeholder { /* IE 10+ */
  text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
  text-align: center;
}

.item-container-container{
    width: 100%;
}

.item-container{
    text-align: left;
    border: 1px solid $borderColor;
    justify-content: space-between;
    max-width: 700px;
    font-family: sans-serif;
    display: flex;
    margin:auto;

        p{
            padding: 5%;
            margin: 0;
        }

        button{
            background-color: lightslategray;
            border: .1rem solid lightslategray;
            border-radius: .4rem;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            font-size: 0.1rem;
            font-weight: 700;
            height: 2.8rem;
            letter-spacing: 0.1rem;
            line-height: inherit;
            padding: 0rem 1rem;
            margin-top: 4%;
            /* text-align: right; */
            text-decoration: none;
            text-transform: uppercase;
            white-space: nowrap; 


        }

        .item-butt-container{

            text-align: right;
            width:240px;

            button{
                padding: 5%;
                margin:14% 2%;
            }
        }

        p.item-text.completed{ 
           text-decoration: line-through;
           opacity: .3;
        }
 }
